@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/partials/_base.scss */
html {
  background-color: #94144f;
}

/* line 9, ../sass/partials/_base.scss */
body {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5428d), color-stop(100%, #94144f));
  background: -webkit-linear-gradient(#e5428d, #94144f);
  background: -moz-linear-gradient(#e5428d, #94144f);
  background: -o-linear-gradient(#e5428d, #94144f);
  background: -ms-linear-gradient(#e5428d, #94144f);
  background: linear-gradient(#e5428d, #94144f);
  -webkit-text-size-adjust: none;
  color: #ffc4de;
  line-height: 1.6em;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Mayryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 13px;
}

/* line 22, ../sass/partials/_base.scss */
a {
  color: white;
}
/* line 18, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: white;
}
/* line 21, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: white;
}
/* line 24, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: white;
}
/* line 27, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: white;
}

/* line 30, ../sass/partials/_base.scss */
h1.subhead, h2.subhead, h3.subhead, h4.subhead, h5.subhead, h6.subhead {
  display: none;
}

/* line 36, ../sass/partials/_base.scss */
.nbr {
  white-space: nowrap;
}

/* line 7, ../sass/partials/_follower.scss */
.followers {
  text-align: center;
}
/* line 10, ../sass/partials/_follower.scss */
.followers li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.followers li {
  *display: inline;
}
/* line 13, ../sass/partials/_follower.scss */
.followers li.blank {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  width: 92px;
  height: 123px;
  border: 1px solid white;
}

/* line 22, ../sass/partials/_follower.scss */
.follower {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  padding: 6px 0 12px;
  width: 94px;
  height: 107px;
  background-color: white;
  color: black;
  line-height: 1.1;
}
/* line 31, ../sass/partials/_follower.scss */
.follower .icon {
  display: block;
  margin: 0 auto;
}
/* line 36, ../sass/partials/_follower.scss */
.follower h1 {
  max-width: 94px;
  margin-top: 10px;
  font-size: 14px;
  overflow: hidden;
}

/* line 3, ../sass/partials/_layout.scss */
#main {
  padding: 10px;
}
/* line 6, ../sass/partials/_layout.scss */
#main section {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5428d), color-stop(100%, #aa175b));
  background: -webkit-linear-gradient(#e5428d, #aa175b);
  background: -moz-linear-gradient(#e5428d, #aa175b);
  background: -o-linear-gradient(#e5428d, #aa175b);
  background: -ms-linear-gradient(#e5428d, #aa175b);
  background: linear-gradient(#e5428d, #aa175b);
  -moz-box-shadow: 1px 1px 6px #510b2b;
  -webkit-box-shadow: 1px 1px 6px #510b2b;
  -o-box-shadow: 1px 1px 6px #510b2b;
  box-shadow: 1px 1px 6px #510b2b;
  margin-bottom: 8px;
  border: 1px solid #ce3d7f;
}
/* line 14, ../sass/partials/_layout.scss */
#main section > h1 {
  font-size: 14px;
  margin: 2px 0;
  text-align: center;
}

/* line 22, ../sass/partials/_layout.scss */
#global-header {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  padding-top: 10px;
  height: 24px;
  line-height: 1;
  background: black;
  color: white;
  border-bottom: 1px solid #ec6fa8;
}

/* line 34, ../sass/partials/_layout.scss */
#logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/common/logo.png?1328957789');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -moz-background-size: 240px, 94.5px;
  -webkit-background-size: 240px, 94.5px;
  -o-background-size: 240px, 94.5px;
  background-size: 240px, 94.5px;
  width: 240px;
  height: 94.5px;
  margin: 0 auto;
}

/* line 44, ../sass/partials/_layout.scss */
.icon {
  border: 1px solid gray;
  vertical-align: middle;
}
/* line 48, ../sass/partials/_layout.scss */
.icon.normal {
  width: 50px;
  height: 50px;
}
/* line 53, ../sass/partials/_layout.scss */
.icon.big {
  width: 80px;
  height: 80px;
}

/* line 4, ../sass/partials/_top.scss */
#top-page #login-button {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  display: block;
  background: #94144f;
  color: white;
  border: 1px solid #ce3d7f;
  width: 180px;
  padding: 15px 0;
  margin: 15px auto;
}

/* line 4, ../sass/partials/_president.scss */
#president-page #profile, #president-page #info-client {
  font-size: 14px;
  padding: 5px;
}
/* line 8, ../sass/partials/_president.scss */
#president-page #profile .name, #president-page #info-client .name {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin-left: 10px;
}
/* line 7, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#president-page #profile .name, #president-page #info-client .name {
  *display: inline;
}
/* line 18, ../sass/partials/_president.scss */
#president-page #client-select-button {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  display: block;
  background: #94144f;
  color: white;
  border: 1px solid #ce3d7f;
  width: 180px;
  padding: 15px 0;
  margin: 15px auto;
}
