@charset 'utf-8';

$follower-bg-color: white;
$follower-width: 94px;
$follower-height: 125px;

.followers {
  text-align: center;

  li {
    @include inline-block;

    &.blank {
      @include border-radius(10px);
      width: $follower-width - 2px;
      height: $follower-height - 2px;
      border: 1px solid $follower-bg-color;
    }
  }
}

.follower {
  @include border-radius(10px);
  padding: 6px 0 12px;
  width: $follower-width;
  height: $follower-height - 18px;
  background-color: $follower-bg-color;
  color: black;
  line-height: 1.1;

  .icon {
    display: block;
    margin: 0 auto;
  }

  h1 {
    max-width: $follower-width;
    margin-top: 10px;
    font-size: 14px;
    overflow: hidden;
  }
}


