@charset 'utf-8';

#president-page {
  #profile {
    font-size: 14px;
    padding: 5px;

    .name {
      @include inline-block;
      margin-left: 10px;
    }
  }

  #info-client {
    @extend #profile;
  }

  #client-select-button {
    @include button;
  }
}


